@section scripts{
    <script type="text/javascript">
        $(function () {
            var hash = window.location.hash.substr(1);
            var arr = hash.split('&');
            $.each(arr, function (idx, val) {
                var keyVal = val.split('=');
                $('#querystring').append('<li><strong>' + keyVal[0] + '</strong> : ' + keyVal[1] + '</li>')
            })
            

        });
    </script>
}
<ul id="querystring">

</ul>